*{
    box-sizing: border-box;
}
#container {
  width: 700px;
  margin: 0 auto;
}
#wrapper {
   width: 500px;
   float: right;
   /* margin-left: -200px; */
   /* margin-right: -200px; */
    /* width: 400px;
    border: 1px solid red;  
    margin: 0 auto;
    margin-left: 150px; */
}
#content {
   /* margin-left: 200px; */
   /* margin-right: 200px; */

}
#navigation{
    float: left;
    width: 200px;
    border: 1px solid palevioletred;
    /* margin-right: -33%; */
    /* margin-left: -25%; */

  
}
#extra{
    float: left;
    width: 200px;
    border: 1px solid green;
    /* margin-right: -100%; */
    /* margin-left: -400px; */
    clear: left;
}
#footer{
    clear: both;
    border: 1px solid blue;
}
