*{
    box-sizing: border-box;
}
#container {
  width: 700px;
  margin: 0 auto;
}
#wrapper {
   
   float: right;

}
#content {
   /* margin-left: 200px; */
   /* margin-right: 200px; */

}
#navigation{
    float: right;
    width: 50%;
    border: 1px solid palevioletred;
    /* margin-right: -33%; */
    /* margin-left: -25%; */

  
}
#extra{
    width: 50%;
    float: left;
    border: 1px solid green;
    /* margin-right: -100%; */
    /* margin-left: -400px; */
}
#footer{
    clear: both;
    border: 1px solid blue;
}
