/* 在threePercentaColumn的基础上，调换navigation和extra */
*{
    box-sizing: border-box;
}
#navigation{
    float: left;
    border: 1px solid red;
    width: 25%;
    margin-left: -25%;
}
#extra{
    float: left;
    border: 1px solid blue;
    width: 25%;
    margin-left: -100%;
}
#footer{
    border: 1px solid green;
}
#wrapper{
    float: left;
    width: 100%;
    border:1px solid
}
#content{
    margin: 0 25%;
}




































/* #wrapper{ float: left; width: 100%;}
	#content{ margin: 0 25%;}
	#navigation{ float: left; width: 25%; margin-left: -100%; }
	#extra{ float: left; width: 25%; margin-left: -25%;}
	#footer{ clear: left;} */

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}